body {
}

#divMenu {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #82eded;
    border-bottom: 1px solid black;
}

tr.headerRow td {
    background-color: yellow;
}

tr.headerRow.underline td {
    border-bottom: 1px solid black;
}

td.selected {
    background-color: rgba(76, 255, 0, 0.4) !important;
}

.ui-selectable {
    cursor: pointer;
}
.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

/* XML STYLES */
table.xml {
    table-layout: fixed;
    width: 100%;
}

td.xml {
    width: 200px;
}